* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/main-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 112px;
    position: relative;
    z-index: 10;
}

nav button {
    z-index: 10;
    position: relative;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: 'Martel Sans', sans-serif;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: 'poppins', sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 48px;
}

.hero> :nth-child(2) {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
}

.hero> :nth-child(3) {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.separation {
    height: 7px;
    background-color: rgb(32, 30, 30);
}



.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btn {
    font-family: 'poppins', sans-serif;
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(27, 25, 25, 0.222);
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.main input {
    color: white;
    padding: 9px 101px 8px 14px;
    font-weight: 900;
    font-size: 12px;
    background-color: rgba(23, 23, 23, 0.2);
    border-radius: 4px;
    border: 1px solid rgba(251, 247, 247, 0.5);
}

.first {
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 900;
    color: white;
    text-align: center;
}

.images img {
    border-radius: 16px;
}

.images {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    max-width: fit-content;
    gap: 30px;
}

.reasons {
    color: white;
    margin: 40px;
    text-align: center;
    margin-top: 70px;
}

.reason-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}

.reason {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 20px;
    margin-top: 30px;
    width: 250px;
    min-height: 200px;
    padding: 20px;
    border-radius: 16px;
    background-color: #292424;
    text-align: left;
}

.faq {
    color: white;
    margin: 40px auto;
    width: 85vw;
}

.faq>p {
    font-family: 'poppins', sans-serif;
    font-size: 30px;
    padding: 20px 20px 20px 0;
}

.faqustions {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.faqustions p {
    padding: 20px;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    background-color: rgb(50, 50, 50);
}

.getStarted {
    width: 85vw;
    margin: 20px auto;
    color: white;
    text-align: center;
}

.getStarted>p {
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
}

.getStarted .input {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.getStarted .input input {
    width: 500px;
    height: 40px;
    background-color: rgb(21, 21, 21);
    padding-left: 10px;
}

.getStarted .input button {
    background-color: rgb(255, 24, 24);
    width:150px;
    font-size: 20px;
    color: white;
}

footer a {
    color: white;
}

footer {
    color: white;
    margin: 60px auto;
    width: 85vw;
    font-size: 20px;
}

footer p {
    margin-bottom: 40px;
}

footer .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    height: 25vh;
}

footer .grid .grid1 ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer .grid .grid1 ul li {
    list-style-type: none;
}

footer .lang {
    color: white;
    padding: 10px;
    background-color: rgb(30, 31, 31);
    border-radius: 10px;
    margin-bottom: 40px;
}